<?xml version="1.0"?>
<launch>

    <group ns="ally2">
        <!-- Load this robot's param file -->
        <!-- This is where you bind a certain robot to be in either the ally1 or ally2 position -->
        <!-- <rosparam command="load" file="$(find playground)/param/$(optenv ROBOT fry).yaml" /> -->

        <!-- Load this position (ally1/ally2) param file -->
        <rosparam command="load" file="$(find soccersim_mcthuggets)/param/ally2.yaml" />

        <!-- Start the robot up -->
        <include file="$(find soccersim_mcthuggets)/launch/robot.launch">
            <arg name="me" value="ally2" />
            <arg name="ally" value="ally1" />
        </include>

    </group>
</launch>
