<?xml version="1.0"?>
<launch>
    <!-- declare arg to be passed in -->
    <arg name="team_side" default="home" />
    <arg name="sim_mode" default="false" />
    <arg name="two_robots" default="true" />

    <group ns="mcthuggets">


        <param name="simulation_mode" type="bool" value="$(arg sim_mode)" />
        
        <!-- start up ally1 -->
        <include file="$(find mcthuggets)/launch/ally1.launch" />

        <group if="$(arg two_robots)">
            <!-- start up ally2 -->
            <include file="$(find mcthuggets)/launch/ally2.launch" />
        </group>

    </group>
</launch>